.card__name {
  width: 100%;
  max-width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
