.profile__button {
  width: 100%;
  width: 150px;
  height: 50px;
  place-self: center;
  background-image: url('./../../../images/buttons/addButton.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.profile__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__button {
    width: 282px;
    height: 50px;
    background-image: url('./../../../images/buttons/addButtonMobile.svg');
  }
}
